* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* box-sizing: border-box屬性使元素充滿整個邊框，因此我們可以跳過數學計算。 */
}

body {
    height: 100vh;
    display: flex;
    background: #060AB2;
}

.img {
    width: 150px;
    height: 100px;
}

.narrow {
    width: 100px;
    height: 150px;
    margin-top: 10px;
}

.contain {
    object-fit: contain;
}

.memoery-game {
    width: 640px;
    height: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

/* 每個卡片的width（意為寬度）和 height（意為高度）都是用calc() CSS函數計算的。我們將width設置為25%，height設置為33.333% ，並從margin（意為邊距）中減去10px，來制作三行四張牌。
對於.memory-card子元素，我們添加position: relative，這樣我們就可以相對它進行子元素的絕對定位。
把屬性front-face和back-face的屬性設置為position: absolute，這樣就可以從原始位置移除元素，並使它們堆疊在壹起。 */
.memory-card {
    width: calc(25% - 10px); /* 每個卡片的width（意為寬度）和 height（意為高度）都是用calc() CSS函數計算的。 */
    height: calc(33.33% - 10px); /* 將width設置為25%，height設置為33.333% ，並從margin（意為邊距）中減去10px，來制作三行四張牌。 */
    margin: 5px;
    position: relative; /* 添加position: relative，這樣我們就可以相對它進行子元素的絕對定位。 */
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
}


/* 把屬性front-face和back-face的屬性設置為position: absolute，這樣就可以從原始位置移除元素，並使它們堆疊在壹起。 */
.front-face, .back-face {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
    background: #1C7CCC;
}
